canvas[dark-canvas="true"]{
    background-color: gray;
    width: 100%;
    margin: auto;
}

#canvas-container{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#hud-container{
    opacity: 0.9;
}