#modal-shadow{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

#modal-container{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#modal-content{
    border: 1px solid gray;
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding: 8px;
}

#modal-body{
    min-height: 25px;
}

#modal-footer{
    margin-top: 10px;
}